<mat-sidenav-container class="main-layout" autosize [ngClass]="{'sidenav-open': opened}">
  <!-- Only show the sidebar if logged in -->
  <mat-sidenav *ngIf="loggedIn" #sidenav mode="side" [opened]="opened" class="sidenav" fixedInViewport style="overflow-x: hidden;">
    <app-sidebar></app-sidebar>
    <button mat-icon-button (click)="sidenav.toggle(); toggleSidebar();" class="close-btn" aria-label="Close sidebar">
      <mat-icon>close</mat-icon>
    </button>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <!-- Fixed Header -->
    <mat-toolbar color="primary" class="fixed-header">
      <!-- Only show the toggle button if logged in -->
      <button *ngIf="loggedIn" mat-icon-button (click)="toggleSidebar() " class="toggle-btn" aria-label="Toggle sidebar">
        <mat-icon>menu</mat-icon>
      </button>
      <app-header></app-header>
    </mat-toolbar>

    <!-- Scrollable Content -->
    <div class="scrollable-content">
      <router-outlet></router-outlet>
      <app-support></app-support>
    </div>

    <!-- Fixed Footer -->
    <mat-toolbar color="accent" class="fixed-footer">
      <app-footer></app-footer>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>