<div class="sidebar-content">
  <ng-container *ngIf="!loggedIn">
    <h3>Join Us</h3>
    <p>Sign up quickly using:</p>

    <asl-google-signin-button
      type="standard"
      size="medium"
      text="continue_with"
      theme="outline"
      shape="rectangular"
      (success)="handleGoogleLoginSuccess()"
      (error)="handleGoogleLoginError()">
    </asl-google-signin-button>

  </ng-container>

  <ng-container *ngIf="loggedIn && user">
    <div class="user-profile">
      <img [src]="user.photoUrl" alt="Profile picture" class="profile-picture" *ngIf="user.photoUrl">
      <h3>Welcome, {{ user.name }}</h3>
      <p>{{ user.email }}</p>
      <button mat-raised-button color="warn" class="signout-btn" (click)="signOut()">
        <mat-icon>logout</mat-icon>&nbsp; Sign Out
      </button>
    </div>
  </ng-container>
</div>