<div class="sidebar-content">
    <h3>Join Us</h3>
    <p>Sign up quickly using:</p>

    <!-- Use these inside your sidebar-content -->
    <button mat-raised-button color="warn" class="social-btn">
        <mat-icon>Google</mat-icon>&nbsp; Google
    </button>

    <button mat-raised-button color="primary" class="social-btn">
        <mat-icon>facebook</mat-icon>&nbsp; Facebook
    </button>

    <button mat-raised-button color="accent" class="social-btn">
        <mat-icon>linkedin</mat-icon>&nbsp; LinkedIn
    </button>

    <button mat-raised-button color="primary" class="social-btn">
        <mat-icon>code</mat-icon>&nbsp; GitHub
    </button>

    <button mat-raised-button color="accent" class="social-btn">
        <mat-icon>cloud</mat-icon>&nbsp; Microsoft
    </button>

    <button mat-raised-button color="warn" class="social-btn">
        <mat-icon>camera</mat-icon>&nbsp; Snapchat
    </button>
</div>